.screen{
    height: 30%;
}
.operator{
    color:#31bbe6;
}
.numero{
    text-align: right;
    bottom: 1px;
    font-size: 30px;
    margin-right: 10px;
}
.result{
    text-align: right;
    bottom: 1px;
    font-size: 30px;
    color: rgb(44, 190, 44);
    margin-right: 10px;
}